<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>bloomboom.io</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.2/socket.io.js"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
<div style="font-family: 'Ubuntu', sans-serif; font-weight: 700; position: absolute; left: -9999px; visibility: hidden;">Force Font Load</div>

<div id="logo">bloomboom.io</div>

<div id="loading-screen">
    <div class="loading-text">
        <span>l</span>
        <span>o</span>
        <span>a</span>
        <span>d</span>
        <span>i</span>
        <span>n</span>
        <span>g</span>
    </div>
</div>

<div id="login-container">
    <input type="text" placeholder="flower name" required id="loginusername">
    <input type="password" placeholder="password" required id="loginpassword">
    <div class="checkbox-wrapper">
        <input type="checkbox" id="signuptoggle">
        <label for="signuptoggle" class="checkbox-label">new flower?</label>
    </div>
    <div id="loginerror"></div>
    <button type="button" id="loginbutton" class="cartoon_btn">submit</button>
</div>

<div id="game-screen"></div>

<div id="lobby-screen">
  <div class="lobby-content">
    <span id="lobbynickname">player_name</span>
    <button id="playbutton" class="cartoon_btn">play</button>
  </div>
</div>

<script type="importmap">
    {
        "imports": {
            "three": "https://unpkg.com/three@0.160.0/build/three.module.js",
            "three/addons/": "https://unpkg.com/three@0.160.0/examples/jsm/"
        }
    }
</script>

<script src="{{ url_for('static', filename='js/index.js') }}" type="module"></script>
</body>
</html>